<li>
	{{name}}

	<button class="change-eaten" data-id="{{id}}" data-neweaten="{{eaten}}">
		{{#if eaten}}Eat It</button>
		
		{{else}}
		<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
		{{/if}}

	
</li>
